@import url(animations.css);

:root{
    --azul-escuro:#033B5D;
    --azul-claro:#7ac6f5;
    --amarelo:#ffcc7f;
}

/*https://www.joshwcomeau.com/css/custom-css-reset*/

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

body{
  display: flex;
  flex-direction: column;
  overflow: none;
  background-image: url(../assets/images/background.jpeg);
  background-size: cover;
}
.title{
  align-self: center;
  text-align: center;
  animation: shake 20s;
  animation-iteration-count: infinite;
}
h1{
  display: inline-block;
  margin-top: 5%;
  padding: 10px;
  font-family: 'Starborn';
  font-size: 2.8em;
  text-shadow: 1px 1px 4px #333;
  color: #fafafa;
  background-image: linear-gradient(to bottom, var(--azul-escuro), var(--azul-claro));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke-width: 20px;
  -webkit-text-stroke-color: transparent;
}
.title p{
  font-family: 'Starborn';
  font-size: 1.2em;
  color: #fafafa;
  text-shadow: 2px 2px 5px #333;

}
.menu{
  display: flex;
  width: 60%;
  flex-direction: column;
  align-self: center;
  align-items: center;
  margin-top: 10%;
  padding: 3%;
  border: 2px solid var(--amarelo);
  border-radius: 40px;
  background-color: #004bad7e;
}
.btn{
  position: relative;
  width: 80%;
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
  text-decoration: none;
  background-image: linear-gradient(to bottom, var(--azul-claro), #4BB2F1);
  transition: 200ms ease;
}
.btn:hover{
  corner-top-right-shape: scoop;
  border-top-right-radius: 23px;
  background-image: linear-gradient(to bottom, #9ed7fa, #7ac6f5);
  cursor: pointer;
}
.btn::before{
  content: 'a';
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 1.5em;
  width: 1.5em;
  background: #12374e;
  color: #fafafa;
  font-size: 1.5rem;
  border-radius: 50%;
  font-family:'Starborn';
  translate: 50% -50%;
  transition: 200ms;
  scale: 0;
  animation: spin 5s;
  animation-iteration-count: infinite;
}
.btn:hover::before{
  scale: 1;
}
.btn-text{
  margin-left: 10px;
  font-size: 2em;
  font-family: 'Beaching';
  text-align: center;
  text-decoration: none;
  color: #fafafa;
  text-shadow: 1px 1px 5px #333;
}

@media (min-width: 800px){
  h1{
    font-size: 4em;
  }
  .title p{
    font-size: 1.7em;
  }
  .menu{
    width: 40%;
    margin-top: 5%;
  }
}